%span.name= project.name
- if project.repository.present?
  %span.repository= project.repository
- if project.log.present?
  %span.log= project.log.file.filename

%span.played
  played:
  = project.play_count

= link_to 'Edit', edit_project_path(project)

